
.container-image {
  background: linear-gradient(to top, rgba(3, 140, 178, 0.205) 10%, transparent),
  url("./computer-background-1.jpeg") right/cover no-repeat border-box;  
  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center;
  height: 80vh;
  width: 100vw;
  position: relative;  
  z-index: 1;
}

.greeting-container {      
  background: white;      
  position: absolute;      
  top: 30%;  
  padding: 2%;
  border-radius: 14px;
}

.greeting-container p {
  color: #666666;
  text-align: center;  
  font-family: "Roboto"
}

.greeting-position {
  font-size: 25px;
  font-weight: bold;
}

.greeting {
  font-size: 25px;      
}

@media (min-width: 40rem) and (min-height: 40rem) {
  .container-image {   
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;    
    height: 90vh;
    width: 100vw;   
    z-index: 1;
  }


  .greeting-container {      
    background: white;      
    position: absolute;      
    top: 30%;  
    padding: 2%;
    border-radius: 14px;
  }

  .greeting-container p {
    color: #666666;
    text-align: center;  
  }

  .greeting-position {
    font-size: 56px;
    font-weight: bold;
  }

  .greeting {
    font-size: 40px;      
  }
}