
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  height: 50px;  
  background: linear-gradient(to right, #e7e7e7, transparent);
  display: flex;  
  align-items: center;
  padding-left: 5%;    
}

.navbar-links li {
  display: inline-block;  
  padding: 16px 16px;
  font-size: 1.4rem;  
}

.navbar-links li a {
  text-decoration: none;
  cursor: pointer;  
  color: black;
}

.navbar-links li a:link,
.navbar-links li a:visited {
  color: #666666;    
}