
header {
  height: 32px;
  width: 100%;  
  margin-bottom: 10%;
}

.heading-work {
  text-align: center;
  color: #6fb8cc;  
}


.portifolio-container {   
  width: 100%;
  height: 100%;    
}

.portifolio-list {
  list-style-type: none; 
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;                    
}

.work {    
  width: 100%;  
  min-height: 20rem;           
  display: flex;
  flex-direction: column;
  overflow: scroll;    
}

.work a {
  display: flex;  
  justify-content: center;
  align-items: center;
  height: 100%;  
}


.work-image {
  background-size: cover;    
  height: 30vh;
  width: 50vw;
  border-radius: 5px;            
}

.work-header {
  background: #e7e7e7;      
  min-height: 3rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;      
  margin-bottom: 1rem;    
}

.work-header p {
  text-align:  center;  
  margin: 0rem 1rem;
  color: #666666;
  font-weight: bold;    
  font-size: 1.3rem;
}

.work-description {
  text-align: justify;
  font-size: 1.3rem; 
  margin: 0rem 1rem; 
  min-height: 10rem;
  color: #666666;
  display: flex;
  align-items: center;
}

.techstack-list {  
  list-style-type: none;   
  height: 100%;
  min-height: 15rem;    
  display: flex;    
  flex-direction: column;
  border-top: 2px solid #bec2c3;  
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.techstack-item {  
  height: 22px;
  font-size: 1rem;
  margin: 0.2rem 0.5rem;    
  color: #666666;  
}

@media(min-width: 40rem) {

  header {
    height: 32px;
    width: 100%;  
    margin-bottom: 5%;
  }
  
    
  .heading-work {
    text-align: center;
    color: #6fb8cc;  
  }


  .portifolio-container {   
    width: 100%;
    height: 100%;    
  }

  .portifolio-list {
    list-style-type: none; 
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;                    
  }

  .work {    
    width: 30%;  
    min-height: 20rem;          
    margin: 0% 10%; 
    display: flex;
    flex-direction: column;  
    overflow: hidden;      
  }

  .work-image {
    background-size: cover;    
    height: 30vh;
    width: 30vw;
    border-radius: 5px;          
    align-self: center;
  }

  .work-header {
    background: #e7e7e7;      
    min-height: 3rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;      
    margin-bottom: 1rem;    
  }

  .work-header p {
    text-align:  center;  
    margin: 0rem 1rem;
    color: #666666;
    font-weight: bold;    
    font-size: 1.3rem;    
  }

  .work-description {
    text-align: justify;
    font-size: 1.3rem; 
    margin: 0rem 1rem; 
    min-height: 10rem;
    color: #666666;
    display: flex;
    align-items: center;
    overflow: auto;
  }


  
.techstack-list {  
  list-style-type: none;   
  height: 100%;
  min-height: 15rem;    
  display: flex;    
  flex-direction: column;
  border-top: 2px solid #bec2c3;  
  justify-content: center;
  align-items: center;
  overflow: hidden;  
}

.techstack-item {  
  height: 22px;
  font-size: 1rem;
  margin: 0.2rem 0.5rem;    
  color: #666666;  
}

}